.btn {
  background-color: $mainBlue;
  color: #ffffff;
  text-decoration: none;
  padding: .75rem 1.2rem;
  display: inline-block;
  transition: background-color .3s ease-out;

  &:hover {
    background-color: rgb(52, 125, 180)
  }

  &--orange {
    background-color: $mainOrange;

    &:hover {
      background-color: #f6ae51;
    }
  }

  &--large {
    font-size: 1.1rem;
    padding: 1.1rem 1.9rem;

    @mixin atSmall {
      font-size: 1.25rem;
    }
  }
}
